.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  background-color: rgba(44, 48, 70, 255);
  color: #fff;
  position: relative;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  border: none;
  border-radius: 50%;
  background-color: #aab6cb;
  color: #1d2033;
  width: 30px;
  height: 30px;
  top: 60px;
  right:30px;
  font-size: 1.25rem;
  z-index: 4;
}

.priceSection {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 30%;
  background-color: rgba(29, 32, 51, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-size: 2.25rem;
}

.priceSection .price {
  margin-left: 40px;
}
/* 
.hr {
  width: 90%;
  border: none;
  border-top: 1px solid #999;
  margin: 16px 0;
} */

.locationSection {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100vw;
  height: 70%;
  z-index: 3;
  padding-top: 40px;
}

.locationSection .location {
  margin-left: 40px;
  font-size: 1.5rem;
}

.verticalLine {
  width: 1px;
  height: 100px; /* ความสูงของเส้น */
  background-color: #ccc; /* สีของเส้น */
  margin-left: 20px;
}

.dotGreen {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 6px solid #14bf61;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 10px;
}

.dotRed {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 6px solid #ff3d00;
  border-radius: 50%;
  position: absolute;
  top: 222px;
  left: 12px;
}

.description {
  position: absolute;
  background-color: #ff3d00;
  width: 300px;
  height: px;
  overflow: hidden;
  font-size: 1rem;
}

.confirmButton {
  border: none;
  color: #fff;
  background-color: #14bf61;
  padding: 15px 150px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  position: absolute;
  bottom: 50px;
  border-radius: 5px;
  z-index: 4;
}
